{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Sider Menu Bar CSS</title> -->
    <link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>Melanin Dripping</header>
  <ul>
        <li> <a href = "{%url 'home'%}">Home</a> </li>
        <li> <a href = "{%url 'contact'%}">Contact</a> </li>
        <li> <a href = "{%url 'news'%}">News</a> </li>
        <li> <a href = "{%url 'register'%}">Signup</a> </li>
</ul>
</div>
<section></section>
  </body>
</html>
